body{
    margin: 0 auto;
    background-color:white;

}
p{
    line-height: 30px;
    text-indent: 2em;
}
.whole{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #eeeeee;
    border: 1px solid #999;
    padding: 20px;
    height: auto;
    float: left;
}
.left,.center,.right{
    background-color: white;
}
.left{
    width: 200px;
    float: left;
}
.left img{
    padding: 20px;
}
.center{
    margin-left:220px ;
    margin-right: 140px;
}
.right{
    width: 120px;
    float: right;
}
.left span{
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    padding-top: 40px;
}
.right img{
    width: 80px;
    height: 80px;
    padding: 20px 20px 0px 20px;
}
.center p{
    padding: 10px;
    margin-top: 0px;
}